-- MySQL dump 10.13  Distrib 9.1.0, for Win64 (x86_64)
--
-- Host: localhost    Database: PTAmanagement
-- ------------------------------------------------------
-- Server version	9.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_info`
--

DROP TABLE IF EXISTS `admin_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_info` (
  `admin_info_id` int NOT NULL AUTO_INCREMENT,
  `admin_id` int NOT NULL,
  `first_name` varchar(50) NOT NULL,
  `middle_name` varchar(50) DEFAULT NULL,
  `last_name` varchar(50) NOT NULL,
  `contact_number` varchar(20) DEFAULT NULL,
  `admin_profile` varchar(120) DEFAULT NULL,
  PRIMARY KEY (`admin_info_id`),
  KEY `admin_id` (`admin_id`),
  CONSTRAINT `admin_info_ibfk_1` FOREIGN KEY (`admin_id`) REFERENCES `adminauth` (`admin_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_info`
--

LOCK TABLES `admin_info` WRITE;
/*!40000 ALTER TABLE `admin_info` DISABLE KEYS */;
INSERT INTO `admin_info` VALUES (1,1,'Roger','Leal','Dalepe','09090909091',NULL);
/*!40000 ALTER TABLE `admin_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `adminauth`
--

DROP TABLE IF EXISTS `adminauth`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `adminauth` (
  `admin_id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role_id` int NOT NULL,
  PRIMARY KEY (`admin_id`),
  UNIQUE KEY `email` (`email`),
  KEY `role_id` (`role_id`),
  CONSTRAINT `adminauth_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`role_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adminauth`
--

LOCK TABLES `adminauth` WRITE;
/*!40000 ALTER TABLE `adminauth` DISABLE KEYS */;
INSERT INTO `adminauth` VALUES (1,'Admin@gmail.com','$2a$12$oRG9/q5O2JCltcfAQMaHVuQgyWwrjlZCTxWXR6WCdmaRVTRBoZV9y',1);
/*!40000 ALTER TABLE `adminauth` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departure_logs`
--

DROP TABLE IF EXISTS `departure_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departure_logs` (
  `departure_id` int NOT NULL AUTO_INCREMENT,
  `queue_id` int NOT NULL,
  `driver_info_id` int NOT NULL,
  `vehicle_id` int NOT NULL,
  `bounds_id` int NOT NULL,
  `departure_time` datetime NOT NULL,
  `approved_by` int DEFAULT NULL,
  `approval_type` enum('admin','system') DEFAULT 'system',
  `remarks` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `zone_id` int DEFAULT NULL,
  PRIMARY KEY (`departure_id`),
  KEY `queue_id` (`queue_id`),
  KEY `driver_info_id` (`driver_info_id`),
  KEY `vehicle_id` (`vehicle_id`),
  KEY `bounds_id` (`bounds_id`),
  KEY `approved_by` (`approved_by`),
  KEY `fk_departure_zone` (`zone_id`),
  CONSTRAINT `departure_logs_ibfk_1` FOREIGN KEY (`queue_id`) REFERENCES `vehicle_queue` (`queue_id`),
  CONSTRAINT `departure_logs_ibfk_2` FOREIGN KEY (`driver_info_id`) REFERENCES `driver_info` (`driver_info_id`),
  CONSTRAINT `departure_logs_ibfk_3` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`vehicle_id`),
  CONSTRAINT `departure_logs_ibfk_4` FOREIGN KEY (`bounds_id`) REFERENCES `terminal_bounds` (`bounds_id`),
  CONSTRAINT `departure_logs_ibfk_5` FOREIGN KEY (`approved_by`) REFERENCES `admin_info` (`admin_info_id`),
  CONSTRAINT `fk_departure_zone` FOREIGN KEY (`zone_id`) REFERENCES `dispatch_zones` (`zone_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departure_logs`
--

LOCK TABLES `departure_logs` WRITE;
/*!40000 ALTER TABLE `departure_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `departure_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dispatch_zones`
--

DROP TABLE IF EXISTS `dispatch_zones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dispatch_zones` (
  `zone_id` int NOT NULL AUTO_INCREMENT,
  `terminal_id` int NOT NULL,
  `zone_name` varchar(100) NOT NULL,
  `zone_type` enum('loading','waiting','queue','dispatch') NOT NULL,
  `boundary` polygon NOT NULL /*!80003 SRID 4326 */,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_by` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`zone_id`),
  KEY `terminal_id` (`terminal_id`),
  CONSTRAINT `dispatch_zones_ibfk_1` FOREIGN KEY (`terminal_id`) REFERENCES `terminal_locations` (`terminal_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dispatch_zones`
--

LOCK TABLES `dispatch_zones` WRITE;
/*!40000 ALTER TABLE `dispatch_zones` DISABLE KEYS */;
/*!40000 ALTER TABLE `dispatch_zones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `driver_info`
--

DROP TABLE IF EXISTS `driver_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `driver_info` (
  `driver_info_id` int NOT NULL AUTO_INCREMENT,
  `driver_id` int NOT NULL,
  `vehicle_id` int NOT NULL,
  `first_name` varchar(50) NOT NULL,
  `middle_name` varchar(50) DEFAULT NULL,
  `last_name` varchar(50) NOT NULL,
  `contact_number` varchar(20) DEFAULT NULL,
  `driver_profile` varchar(120) DEFAULT NULL,
  `terminal_id` int DEFAULT NULL,
  PRIMARY KEY (`driver_info_id`),
  KEY `vehicle_id` (`vehicle_id`),
  KEY `driver_id` (`driver_id`),
  KEY `terminal_id` (`terminal_id`),
  CONSTRAINT `driver_info_ibfk_1` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`vehicle_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `driver_info_ibfk_2` FOREIGN KEY (`driver_id`) REFERENCES `driverauth` (`driver_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `driver_info_ibfk_3` FOREIGN KEY (`terminal_id`) REFERENCES `terminal_locations` (`terminal_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `driver_info`
--

LOCK TABLES `driver_info` WRITE;
/*!40000 ALTER TABLE `driver_info` DISABLE KEYS */;
INSERT INTO `driver_info` VALUES (1,2,1,'Rr','Leal','Dalepe','09676767671',NULL,2),(2,3,2,'Rodel','P.','Sampiano','09676767672',NULL,6),(3,9,8,'Rr','R','Rrrrr','09676400245',NULL,9);
/*!40000 ALTER TABLE `driver_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `driverauth`
--

DROP TABLE IF EXISTS `driverauth`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `driverauth` (
  `driver_id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `role_id` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`driver_id`),
  UNIQUE KEY `email` (`email`),
  KEY `role_id` (`role_id`),
  CONSTRAINT `driverauth_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`role_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `driverauth`
--

LOCK TABLES `driverauth` WRITE;
/*!40000 ALTER TABLE `driverauth` DISABLE KEYS */;
INSERT INTO `driverauth` VALUES (2,'Ebesyntax@gmail.com','$2b$10$X2wG5O7bWOChIWaX70vhIeFlEDI6rmR9R4EfbbIVmACVxLq1Ea6pG','INACTIVE',2,'2026-04-03 14:23:23'),(3,'Sampiano@gmail.com','$2b$10$hdLo1iHfjmKXkqs3PBUSMOdHi/5dMpVgdC8O3R4kMHaxJhpi/0/uK','INACTIVE',2,'2026-04-03 14:29:06'),(9,'Rrcantcode731@gmail.com','$2b$10$SspsEnawoaYipZOAbA0EleIDYShU4b.4fGL6QksLEA3qT2dJwwNKq','INACTIVE',2,'2026-05-11 13:49:33');
/*!40000 ALTER TABLE `driverauth` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fare_prices`
--

DROP TABLE IF EXISTS `fare_prices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fare_prices` (
  `fare_id` int NOT NULL AUTO_INCREMENT,
  `bounds_id` int DEFAULT NULL,
  `regular_t` decimal(10,2) DEFAULT NULL,
  `discounted_t` decimal(10,2) DEFAULT NULL,
  `regular_m` decimal(10,2) DEFAULT NULL,
  `discounted_m` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`fare_id`),
  KEY `bounds_id` (`bounds_id`),
  CONSTRAINT `fare_prices_ibfk_1` FOREIGN KEY (`bounds_id`) REFERENCES `terminal_bounds` (`bounds_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fare_prices`
--

LOCK TABLES `fare_prices` WRITE;
/*!40000 ALTER TABLE `fare_prices` DISABLE KEYS */;
INSERT INTO `fare_prices` VALUES (1,1,39.50,31.50,41.50,33.00),(2,2,81.50,65.50,85.00,68.00),(3,3,50.50,40.50,52.50,42.00),(4,4,27.50,22.00,29.00,23.00),(5,5,55.00,44.00,57.50,48.00);
/*!40000 ALTER TABLE `fare_prices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `role_id` int NOT NULL AUTO_INCREMENT,
  `role_name` varchar(50) NOT NULL,
  PRIMARY KEY (`role_id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Administrator'),(2,'Driver'),(5,'PWD'),(3,'Regular'),(6,'Senior citizen'),(4,'Student');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `terminal_bounds`
--

DROP TABLE IF EXISTS `terminal_bounds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `terminal_bounds` (
  `bounds_id` int NOT NULL AUTO_INCREMENT,
  `from_terminal_id` int DEFAULT NULL,
  `to_terminal_id` int DEFAULT NULL,
  `kilometer` decimal(10,2) DEFAULT NULL,
  `reverse_bound_id` int DEFAULT NULL,
  PRIMARY KEY (`bounds_id`),
  KEY `from_terminal_id` (`from_terminal_id`),
  KEY `to_terminal_id` (`to_terminal_id`),
  KEY `reverse_bound_id` (`reverse_bound_id`),
  CONSTRAINT `terminal_bounds_ibfk_1` FOREIGN KEY (`from_terminal_id`) REFERENCES `terminal_locations` (`terminal_id`),
  CONSTRAINT `terminal_bounds_ibfk_2` FOREIGN KEY (`to_terminal_id`) REFERENCES `terminal_locations` (`terminal_id`),
  CONSTRAINT `terminal_bounds_ibfk_3` FOREIGN KEY (`reverse_bound_id`) REFERENCES `terminal_bounds` (`bounds_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `terminal_bounds`
--

LOCK TABLES `terminal_bounds` WRITE;
/*!40000 ALTER TABLE `terminal_bounds` DISABLE KEYS */;
INSERT INTO `terminal_bounds` VALUES (1,1,2,16.50,NULL),(2,1,8,34.00,NULL),(3,2,8,21.00,NULL),(4,9,8,11.50,NULL),(5,1,9,23.00,NULL);
/*!40000 ALTER TABLE `terminal_bounds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `terminal_locations`
--

DROP TABLE IF EXISTS `terminal_locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `terminal_locations` (
  `terminal_id` int NOT NULL AUTO_INCREMENT,
  `terminal_name` varchar(100) NOT NULL,
  `terminal_address` text,
  `latitude` decimal(10,7) DEFAULT NULL,
  `longitude` decimal(10,7) DEFAULT NULL,
  PRIMARY KEY (`terminal_id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `terminal_locations`
--

LOCK TABLES `terminal_locations` WRITE;
/*!40000 ALTER TABLE `terminal_locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `terminal_locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_info`
--

DROP TABLE IF EXISTS `user_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_info` (
  `info_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `first_name` varchar(50) NOT NULL,
  `middle_name` varchar(50) DEFAULT NULL,
  `last_name` varchar(50) NOT NULL,
  `contact_number` varchar(20) DEFAULT NULL,
  `user_profile` varchar(120) DEFAULT NULL,
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  PRIMARY KEY (`info_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `user_info_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `userauth` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_info`
--

LOCK TABLES `user_info` WRITE;
/*!40000 ALTER TABLE `user_info` DISABLE KEYS */;
INSERT INTO `user_info` VALUES (1,1,'Roger','Leal','Dalepe Jr.','09676767671',NULL,NULL,NULL),(2,2,'Rr','Leal','Dalepe','09676400245',NULL,NULL,NULL);
/*!40000 ALTER TABLE `user_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userauth`
--

DROP TABLE IF EXISTS `userauth`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `userauth` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role_id` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  KEY `role_id` (`role_id`),
  CONSTRAINT `userauth_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`role_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userauth`
--

LOCK TABLES `userauth` WRITE;
/*!40000 ALTER TABLE `userauth` DISABLE KEYS */;
INSERT INTO `userauth` VALUES (1,'Rrcantcode@gmail.com','$2b$10$G5v4CzRkn96jTFQT3dxpnO3lS6XQYKNRbOsV4sY912ZqFX/X4jdN.',3,'2026-03-25 14:43:46'),(2,'Ebe@gmail.com','$2b$10$ZSB9SLnhuk/0nC/xa7YGCeOlNXw/CP/wnXDrad2DA3N1zM/OZMur6',4,'2026-03-25 15:01:13');
/*!40000 ALTER TABLE `userauth` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicle_queue`
--

DROP TABLE IF EXISTS `vehicle_queue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicle_queue` (
  `queue_id` int NOT NULL AUTO_INCREMENT,
  `driver_info_id` int NOT NULL,
  `vehicle_id` int NOT NULL,
  `bounds_id` int NOT NULL,
  `queue_status` enum('waiting','pending','completed','cancelled') DEFAULT 'waiting',
  `joined_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `joined_latitude` decimal(10,7) NOT NULL,
  `joined_longitude` decimal(10,7) NOT NULL,
  `is_within_geofence` tinyint(1) DEFAULT '0',
  `served_at` timestamp NULL DEFAULT NULL,
  `zone_id` int DEFAULT NULL,
  PRIMARY KEY (`queue_id`),
  KEY `driver_info_id` (`driver_info_id`),
  KEY `vehicle_id` (`vehicle_id`),
  KEY `bounds_id` (`bounds_id`),
  KEY `fk_queue_dispatch_zone` (`zone_id`),
  CONSTRAINT `fk_queue_dispatch_zone` FOREIGN KEY (`zone_id`) REFERENCES `dispatch_zones` (`zone_id`),
  CONSTRAINT `vehicle_queue_ibfk_1` FOREIGN KEY (`driver_info_id`) REFERENCES `driver_info` (`driver_info_id`),
  CONSTRAINT `vehicle_queue_ibfk_2` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`vehicle_id`),
  CONSTRAINT `vehicle_queue_ibfk_3` FOREIGN KEY (`bounds_id`) REFERENCES `terminal_bounds` (`bounds_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicle_queue`
--

LOCK TABLES `vehicle_queue` WRITE;
/*!40000 ALTER TABLE `vehicle_queue` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicle_queue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicle_types`
--

DROP TABLE IF EXISTS `vehicle_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicle_types` (
  `type_id` int NOT NULL AUTO_INCREMENT,
  `type_name` varchar(100) NOT NULL,
  `seat_capacity` int NOT NULL,
  PRIMARY KEY (`type_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicle_types`
--

LOCK TABLES `vehicle_types` WRITE;
/*!40000 ALTER TABLE `vehicle_types` DISABLE KEYS */;
INSERT INTO `vehicle_types` VALUES (1,'Public Utility Vehicle',13),(2,'Mindanao Star Bus',49);
/*!40000 ALTER TABLE `vehicle_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles`
--

DROP TABLE IF EXISTS `vehicles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicles` (
  `vehicle_id` int NOT NULL AUTO_INCREMENT,
  `plate_number` varchar(20) NOT NULL,
  `type_id` int NOT NULL,
  `terminal_id` int NOT NULL,
  PRIMARY KEY (`vehicle_id`),
  UNIQUE KEY `plate_number` (`plate_number`),
  KEY `type_id` (`type_id`),
  KEY `terminal_id` (`terminal_id`),
  CONSTRAINT `vehicles_ibfk_1` FOREIGN KEY (`type_id`) REFERENCES `vehicle_types` (`type_id`),
  CONSTRAINT `vehicles_ibfk_2` FOREIGN KEY (`terminal_id`) REFERENCES `terminal_locations` (`terminal_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles`
--

LOCK TABLES `vehicles` WRITE;
/*!40000 ALTER TABLE `vehicles` DISABLE KEYS */;
INSERT INTO `vehicles` VALUES (1,'XRM125FIGKLMNOP',1,2),(2,'SKYGOW12345ABCD',2,6),(8,'M517GHclick125!',1,9);
/*!40000 ALTER TABLE `vehicles` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-25  7:53:21
